.conponnetA h1{
  margin: 10px;
}
.conponnetA table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 780px;
  margin: 10px;
}

.conponnetA  td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.conponnetA  tr:nth-child(even) {
  background-color: #dddddd;
}
.conponnetA{
  width: 800px;
  height: auto;
  margin: auto;
  padding: auto;
  background-color: rgb(209, 209, 112);
}
